/*
COLORS:

Light yellow:  rgb(205, 213, 111)
Medium yellow:  rgb(230, 230, 36)
Dark yellow: rgb(234, 234, 90)

rgba(111, 119, 213, 0.8),
        rgba(88, 36, 230, 0.9))
*/

/* some rules that can help to keep css clean and as a library for reuse stuff : */
/* css appears as the appear in the page */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(205, 213, 111, 0.8),
        rgba(230, 230, 36, 0.9)), url(../img/laptop-coffee.jpg);
    background-size: cover;
    background-position: top;
    
    clip-path: polygon( 0 0, 100% 0, 100% 500px, 0 100%);
    position: relative;
    /* here some polygons ex.: https://bennettfeely.com/clippy/*/
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 100px;
}
.logo:hover {
    animation: moveInRight 1s ease-out;
}

/* how to center in css: keywrds: top, left, tranform */
.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.heading-primary { 
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;/*to prevent animation from shaking*/
}

.heading-primary-main {
   display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    /* under reference to @keyframes */
    animation-name: moveInLeft;
    animation-duration: 1s;
    /*animation-delay: 1s;
    animation-iteration-count: 1;*/
    animation-timing-function: ease-out;
    
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.4px;
    /* under reference to @keyframes */
    animation: moveInRight 1s ease-out;
    /*animation-delay: 1s;
    animation-iteration-count: 1;*/
}

/* animation in css: we're using here @keyframes */
@keyframes moveInLeft {
    /* what happen when the animation is at: */
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    
    80% {
        transform: translateX(10px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* animation in css: we're using here @keyframes */
@keyframes moveInRight {
    /* what happen when the animation is at: */
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    
    80% {
        transform: translateX(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}